<nav class="navbar sticky-top navbar-light bg-light">
	<a class="navbar-brand" href="https://stephanielikeschocolate.gitlab.io">
		<img src="/res/img/chocolate.svg" width="48" height="48" class="d-inline-block align-middle" alt="">
		<span class="align-middle">stephanielikeschocolate</span>
	</a>
</nav>
